h2{
    background-color: rgb(26, 25, 25);
    border-style:ridge
}
div {
margin:'2px';
padding:'10px';
text-align: center;
    li {
            list-Style:'';
        }
        
}

#bg{
    background-color: rgb(101, 107, 107);
    border:5px solid white;
    color: black;
   
}

#repostar{
    height: 30px;
    width: 30px
}

//mediaquery for small devices
@media only screen and (max-width:600px){
    h3 {
       
        margin-left: -20px;
        padding:15px

    }
}